body{
    background-color: rgb(75, 30, 30);
  }

  p{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.imm{

    height: 150px;
    width: 250px;
}
h4{
    color: white;
    font-size: 34px;
    text-align: start;
    margin-left: 10%;
}

.main{
   gap: 5%;
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.card{

    width: 250px;
    height: 150px;
    background-color:rgb(21, 32, 41);
    margin-bottom: 4%;
}

